#flipbook {
  max-width: 100% !important;
}

.css-1az2mk0 {
  border-radius: 12px !important;
}

.css-1usg7uh {
  border: 1px rgba(249, 157, 28, 1) solid !important;
  border-radius: 12px !important;
}
