.css-1rhhni6 {
  background-size: 100px auto !important;
  background-position: right bottom !important;
}

.css-1u5gq9f,
.css-1u5gq9f .container {
  max-width: 100% !important;
}

.css-1w9v4bx {
  border-radius: 12px !important;
}

.css-1usg7uh {
  border: 1px rgba(249, 157, 28, 1) solid !important;
  border-radius: 12px !important;
}
