.css-13hpov6,
.css-13hpov6 .container {
  max-width: 100% !important;
}

.css-1w9v4bx {
  border-radius: 12px !important;
}

.css-1usg7uh {
  border: 1px rgba(249, 157, 28, 1) solid !important;
  border-radius: 12px !important;
}
